<%- include("../partials/header.ejs")%>
    <%- include("../partials/secondaryNav.ejs")%>
        <!-- might change later to another nav -->
        <%- include("../partials/flashMessage.ejs")%>
            <div class="container">

                <% if(message && message.length>0) {%>
                    <div style="text-align: center" class="alert alert-danger">
                        <%=message%>
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    <% } %>
            </div>



            <!-- create a parent course -->
            <section class="container m-2 ">
                <div class="row m-3 p-2 ms-5 row justify-content-evenly">
                    <div class="col-6 col-md-4 m-5">
                        <p class="paragraph">Enter details of the parent course below.</p>
                        <form class="container" action="/courses/addcourse" method="post">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="courseCode" type="text" name="courseCode"
                                    placeholder="Course Code">
                                <label for="courseCode">Course Code</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" name="name" placeholder="Name">
                                <label for="name">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="departmentCode" type="text" name="departmentCode"
                                    placeholder="Department code">
                                <label for="departmentCode">Department code</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea rows="4" cols="50" class="form-control" id="description" name="description" style="height: 100%;"
                                    placeholder="Description"></textarea>
                                <label for="description">Description</label>
                            </div>
                            <button class="btn btn-primary mb-3">Submit</button>
                        </form>

                    </div>

                    <div class="col-6 col-md-4 ms-5 ml-5 mt-5">
                        <!-- create course instance -->
                        <p class="paragraph">Enter details about the course instance below.</p>
                        <form class="container" action="/courses/addcourseinstance" method="post">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="year" type="date" name="year" placeholder="">
                                <label for="year"></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="teacher" type="text" name="teacher"
                                    placeholder="Teacher Name">
                                <label for="teacher">Teacher Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="course" type="text" name="course"
                                    placeholder="Course ID">
                                <label for="course">Course Code</label>
                            </div>
                            <button class="btn btn-primary mb-3">Submit</button>
                        </form>
                    </div>
                </div>
            </section>
            <!-- //create a teacher -->
            <section class="container">
                <div class="row justify-content-evenly">
                    <div class="col-md-8 align-self-center">
                        <p class="paragraph">Enter details about the teacher below.</p>
                        <form class="container" action="/courses/addteacher" method="post">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" name="name" placeholder="Name">
                                <label for="name">Name</label>
                            </div>
                            <button class="btn btn-primary mb-3">Submit</button>
                        </form>
                    </div>
                </div>
            </section>
            <%- include("../partials/footer.ejs")%>