<%- include("../partials/header.ejs")%>
    <%- include("../partials/nav.ejs")%> <!-- might change later to another nav -->
        <%- include("../partials/flashMessage.ejs")%>
            <section id=timeline>
                <h1>course</h1>
                <p class="leader">course.</p>
                <div class="demo-card-wrapper ">
                    <% instances.forEach(function(instance){ %>
                    <div class="demo-card demo-card--step1 bg-secondary">
                        <div class="head">
                            <div class="number-box">
                                <span><%=instance.year%></span>
                            </div>
                            <h2><span class="small">
                                    <%=instance.teacherName%>
                                </span>
                                <%=course.name%>
                            </h2>
                        </div>
                    </div>
                    <%})%>
                </div>
                <!-- <h2><span class="small"><%=course.teacherName%></span> <%=course.name%></h2> -->
            </div>
        </div>
    </div>
</section>
<%- include("../partials/footer.ejs")%>
