<%- include("../partials/header.ejs")%>
    <%- include("../partials/secondaryNav.ejs")%> <!-- might change later to another nav -->
        <%- include("../partials/flashMessage.ejs")%>
            <section id=timeline>
                <h1><%=course.name%></h1>
                <p class="leader"><%=course.description%></p>
                <div class="demo-card-wrapper ">
                    <% instances.forEach(function(instance){ %>
                      <%i++;%>
                    <div class="demo-card demo-card--step<%=i%> bg-secondary">
                        <div class="head">
                            <div class="number-box">
                                <span><%=instance.year.getFullYear()%></span>
                            </div>
                            <h2>
                                <%=instance.name%>
                            </h2>
                        </div>
                    </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
</section>



<section style="background-color: #f7f6f6;">
    <div class="container my-5 py-5 text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <% ratings.forEach(function(rating){ %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-start">
                <div class="w-100">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-primary fw-bold mb-0">
                      <%=rating.username%>
                    </h6>
                    <p class="mb-0"><%=rating.year.getFullYear()%></p>
                  </div>
                  <span class="text-dark ms-2" style="margin-top: -10px;"><%=rating.Description%></span>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="small mb-0" style="color: #aaa;">
                      <span>curriculum: <%=rating.curriculum%> </span> •
                      <span>teacher: <%=rating.teacher%></span> •
                      <span>teachingMethods: <%=rating.teachingMethods%></span> •
                      <span>expectations: <%=rating.expectations%></span> •
                      <span>exams: <%=rating.exams%></span> •
                      <span>difficulty <%=rating.difficulty%></span>
                    </p>
                    <div class="d-flex flex-row">
                      <i class="fas fa-star text-warning me-2"><%=rating.rating%></i>
                      <!-- <i class="far fa-check-circle" style="color: #aaa;"></i> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%});%>
        </div>
      </div>
    </div>
  </section>



<%- include("../partials/footer.ejs")%>
