<%- include("partials/header.ejs")%>
  <section class="bg-gradient-light padding">
    <div class="center max-width-l">
      <h2>Available Books</h2>
      <p class="paragraph">Browse around and look for university books that you will need throughout the semester.</p>
    </div>
    <div class="row margin-top max-width-l">
      <% posts.forEach(function(post){ %>
        <div class="col-one-fourth card card-content">
          <img  src="data:image/jpg;base64,<%= post.image %>">
          <p class="muted">
            <%=post.title%>
          </p>
          <h4>
            <%=post.price%>
          </h4>
          <p class="paragraph">
            <%=post.description%>
          </p>
        </div>
        <% }); %>
    </div>
    <!-- <div class="center margin-top max-width-l">
        <span class="muted">If you need any help, make sure to </span><a href="signup.html">book a demo</a><span
          class="muted">.</span>
      </div> -->
  </section>
  <%- include("partials/footer.ejs")%>