<%- include("partials/header.ejs")%>
  <%- include("partials/nav.ejs")%>
    <%- include("partials/flashMessage.ejs")%>
      <section>

        <div class="container">
          <div class="p-5 m-4 bg-light border border-primary rounded-3">
            <div class="container-fluid py-3">
              <h2 class="display-5 fw-bold text-center mt-3">Available Books</h2>
              <p class="text-center text-wrap fs-4">Browse around and look for university books that you will need
                throughout the semester.</p>
            </div>
          </div>
        </div>

        <div class="row margin-top d-flex justify-content-around">
          <% posts.forEach(function(post){ %>
            <!-- col stuff is not making any difference in here lol -->
            <div class="col-6 col-sm-6 col-lg-2 col-md-4 card h-100" style="width: 18rem; margin: 15px 30px;">
              <img class="card-img-top pt-2" src="data:image/jpg;base64,<%= post.image %>">
              <div class="card-body">
                <h5 class="card-title">
                  <%=post.title%>
                </h5>
                <p class="card-text">
                  <%=post.price%> TL
                </p>
                <a href="/shop/id=<%=post.id%>" marign:0 5% class="btn btn-primary">more info</a>
              </div>
            </div>
            <% }); %>
        </div>
        <!-- <div class="center margin-top max-width-l">
        <span class="muted">If you need any help, make sure to </span><a href="signup.html">book a demo</a><span
          class="muted">.</span>
      </div> -->
      </section>
      <%- include("partials/footer.ejs")%>