<%- include("partials/header.ejs")%>
  <section class="">
    <div class="">
      <h2 class="d-flex justify-content-center mt-3">Available Books</h2>
      <p class="d-flex justify-content-center">Browse around and look for university books that you will need throughout the semester.</p>
    </div>
    <div class="row margin-top d-flex justify-content-around">
      <% posts.forEach(function(post){ %>
        <!-- col stuff is not making any difference in here lol -->
        <div class="col-6 col-sm-6 col-lg-2 col-md-4 card " style="width: 18rem; margin: 15px 30px;">
          <img class="card-img-top pt-2" src="data:image/jpg;base64,<%= post.image %>">
          <div class="card-body">
            <h5 class="card-title">
              <%=post.title%>
            </h5>
            <p class="">
              <%=post.price%> TL
            </p>
            <!-- <p class="card-text">
              <%=post.description%>
            </p> -->
            <a href="/shop/id=<%=post.id%>" marign:0 5% class="btn btn-primary">more info</a>
          </div>
        </div>
        <% }); %>
    </div>
    <!-- <div class="center margin-top max-width-l">
        <span class="muted">If you need any help, make sure to </span><a href="signup.html">book a demo</a><span
          class="muted">.</span>
      </div> -->
  </section>
  <%- include("partials/footer.ejs")%>