<!doctype html>
<html lang="en">

<head>
    <title>Edit Post</title>
    <meta charset="utf-8">
    <!-- <meta name="description"
        content="A minimal and responsive HTML5 landing page built on lightweight, clean and customizable code."> -->
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon-precomposed" href="media/favicon.png">
    <link rel="icon" href="media/favicon.png">
    <link rel="mask-icon" href="media/favicon.svg" color="rgb(36,38,58)">
    <link rel="shortcut icon" href="media/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional theme -->
    <script src="https://kit.fontawesome.com/d707cf3af9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body class="page page-onboarding preload">
    <main>
        <%  if(message && message.length>0) {%>
            <div style="text-align: center" class="alert alert-danger">
                <%=message%>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        <% }%>
        <section class="row no-gutter reverse-order">
            <div class="col-one-half middle padding">
                <div class="max-width-s">
                    <form class="container" action="/shop/id=<%= post.id %>?_method=put" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input id="title" type="text" name="title" value = <%= post.title %>>
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input id="price" type="number" name="price" value = <%= post.price %>>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea id="description" type="text" name="description" ><%= post.description %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input type="file" name="file">
                            <img src ="data:image/jpg;base64,<%= post.image %>"/>
                            <!-- <img src="/images/<%=post.image%>" alt=""> -->
                        </div>
                        <button class="button button-primary full-width" >Update</button>
                    </form>
                    <form action="/shop/id=<%= post.id %>?_method=delete" method="post">
                        <button type="submit"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script src="js/main.js"></script>
</body>

</html>