<%- include("../partials/header.ejs")%>
  <%- include("../partials/nav.ejs")%>
    <%- include("../partials/flashMessage.ejs")%>

      <section>
        <div>
          <h2 class="d-flex justify-content-center my-3">My Books</h2>
          <p class="d-flex justify-content-center">Browse around and look for university books that you will need
            throughout the semester.</p>
        </div>
        <div class="row margin-top d-flex justify-content-around m-4">
          <% posts.forEach(function(post){ %>
            <div class="col-6 col-sm-6 col-lg-2 col-md-4 card h-100" style="width: 18rem; margin: 15px 30px;">
              <img class="card-img-top rounded-3 img-fluid" style="margin-top: 12px;"
                src="data:image/jpg;base64,<%= post.image %>">
              <div class="card-body">
                <h5 class="card-title text-capitalize">
                  <%=post.title%>
                </h5>
                <p class="">
                  <%=post.price%> TL
                </p>
                <!-- <p class="card-text">
            <%=post.description%>
          </p> -->
                <div class="d-flex justify-content-between">
                  <a href="/shop/editpost/id=<%=post.id%>" marign:0 5% class="btn btn-primary margin-right">Edit &
                    View</a>
                  <button type="button" class="ms-5 btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="far fa-trash-alt"></i></button>

                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this book?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                          <form class="float-end" action="/shop/id=<%= post.id %>?_method=delete" method="post">
                            <button type="submit" class="ms-2 btn btn-danger"><i class="far fa-trash-alt"></i></button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
        </div>
        <!-- <div class="center margin-top max-width-l">
      <span class="muted">If you need any help, make sure to </span><a href="signup.html">book a demo</a><span
        class="muted">.</span>
    </div> -->
      </section>

      <%- include("../partials/footer.ejs")%>