<%- include("../partials/header.ejs")%>
    <%- include("../partials/nav.ejs")%>
        <%- include("../partials/flashMessage.ejs")%>
            <section class="d-flex justify-content-center mt-3 mx-5">
                <div class="container py-2">
                    <article class="postcard light blue">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="data:image/jpg;base64,<%= post.image %>"
                                alt="Image Title" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue"><a class="display-4 text-capitalize" href="#">
                                    <%=post.title%>
                                </a></h1>
                            <div class="postcard__subtitle small ">
                                <time>
                                    <i class="fas fa-calendar-alt mr-2 me-2"></i>
                                    <%= moment(post.updatedAt).fromNow()%>
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                <%=post.description%>
                            </div>
                            <ul class="postcard__tagbox">
                                <span class="badge bg-primary">
                                    <%= post.price %> TL
                                </span>
                                <!-- <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                                <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                                <li class="tag__item play blue">
                                    <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                                </li> -->
                            </ul>
                            <ul class="postcard__tagbox">
                                <div class="d-flex">
                                    <input class="form-control btn me-2 fw-bold" id="userEmail" type="button"
                                        onclick="copyToClipboard()" data-toggle="tooltip" title="Copy to Clipboard"
                                        value="<%= post.userEmail %>" readonly />
                                    <a href="mailto:<%= post.userEmail %>" class="btn btn-primary btn-sm text-white">
                                        Open in Mail
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </article>
                </div>
            </section>
            <section class="row mt-3 mx-5">
                <div class="container">
                    <!-- class="d-flex flex-row flex-wrap " -->
                    <% if(similarPosts && similarPosts !=null) {%>
                        <h4 class="display-4 text-center">Suggested Books</h4>
                        <div class="row justify-content-center">
                            <% similarPosts.forEach(function(post){ %>
                                <div class="card hovereffect h-100"
                                    style="width: 18rem; height: 20rem; margin: 15px 30px;">
                                    <img src="data:image/jpg;base64,<%= post.image %>"
                                        class="card-img-top rounded-3 suggestedImg" style="margin-top: 12px;" alt="...">
                                    <div class="card-body">
                                        <a href="/shop/id=<%=post.id%>" class="btn stretched-link">
                                            <h5 class="card-title text-capitalize">
                                                <%=post.title%>
                                            </h5>
                                        </a>
                                        <small class="card-text text-muted">
                                            <%=post.price%> TL
                                        </small>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <% } else{ %>
                            <h4 class="display-4 text-center mt-3">
                                No Similar Suggestions Available
                            </h4>
                            <%}%>
                </div>
            </section>

            <script>
                function copyToClipboard() {
                    var copyText = document.getElementById("userEmail").value;
                    navigator.clipboard.writeText(copyText).then(() => {
                        // $('#userEmail').attr('title', 'Copied to clipboard!');
                        // const tooltipElement = document.querySelector('#userEmail');
                        // // let bsTooltip = new bootstrap.Tooltip(tooltipElement)
                        // // tooltipElement.hide();
                        // // update
                        // tooltipElement.title = 'Copied to clipboard!'
                        // bsTooltip = new bootstrap.Tooltip(tooltipElement)
                        // tooltipElement.dispose()
                        // document.getElementById("userEmail").title = "Copied to clipboard!";
                    });
                }
            </script>
            <%- include("../partials/footer.ejs")%>