<%- include("../partials/header.ejs")%>
    <%- include("../partials/nav.ejs")%>
        <%- include("../partials/flashMessage.ejs")%>
            <section class="container row mx-5">
                <div class="row d-flex mt-5">
                    <div class="col-md-4 me-5">
                        <ul class="list-group">
                            <li class="list-group-item active" aria-current="true">An active item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                            <li class="list-group-item">A fourth item</li>
                            <li class="list-group-item">And a fifth one</li>
                        </ul>
                    </div>
                    <div class="card mb-3 h-100" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="data:image/jpg;base64,<%= post.image %>" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=post.title%>
                                    </h5>
                                    <p class="card-text">
                                        <%=post.description%>
                                    </p>
                                    <p class="card-text"><small class="text-muted">
                                            <%=post.price%> TL
                                        </small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row mt-5 mx-5">
                <div class="container">
                    <!-- class="d-flex flex-row flex-wrap " -->
                    <% if(similarPosts && similarPosts !=null) {%>
                        <h4 class="text-center">Suggested Books</h4>
                        <div class="row">
                            <% similarPosts.forEach(function(post){ %>
                                <div class="card hovereffect h-100"
                                    style="width: 18rem; height: 20rem; margin: 15px 30px;">
                                    <img src="data:image/jpg;base64,<%= post.image %>"
                                        class="card-img-top rounded-3 suggestedImg" style="margin-top: 12px;" alt="...">
                                    <div class="card-body">
                                        <a href="/shop/id=<%=post.id%>" class="btn stretched-link">
                                            <h5 class="card-title text-capitalize">
                                                <%=post.title%>
                                            </h5>
                                        </a>
                                        <small class="card-text text-muted">
                                            <%=post.price%> TL
                                        </small>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <% } else{ %>
                            <h4>
                                No suggestions available
                            </h4>
                            <%}%>
                </div>
            </section>
            <%- include("../partials/footer.ejs")%>